

.Image {
 
  opacity: 0%;
  width: 30%;
  border-width: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Image-Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 45vh;
}

.Image:hover{
  opacity: 100%;
 
} 

.Enter-Button-Container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

} 

#Enter-Button-Text {
  font-weight: bold;
}


.App {
  background-color: red;
  height: 100vh;
}

.Enter-Button {
  background-color: white;
  height: 100%;
  width: 15%;
  border-radius: 70px;
  text-align: center;
}


#ItemCard {
  height:340px;
  width: 200px;
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 5px 5px black;
  border-radius: 5px;
}

#ItemCardImage {
  height: 140px;
  width: 170px;
}

#ItemCardContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#ItemCardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#Header {
  background-color: black;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

#Header-Button:hover{
  color: red;
}

#Total-Page-Column {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Add-To-Cart-Button:hover{
  color: red;
  font-size: 20px;
}