.App {
  background-color: black;
  height: 100vh;

}

#Lebron-Image {
  height: 75%;
  width: 60%;
  
}

.Image {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}