html {
  background-color: black;
}


.Image {
 
  opacity: 0%;
  width: 30%;
  border-width: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Image-Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 45vh;


}

.Image:hover{
  opacity: 100%;
 
} 

.Enter-Button-Container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

} 

#Enter-Button-Text {
  font-weight: bold;

}


.App {
  background-color: black;
 

}

.Enter-Button {
  background-color: white;
  height: 100%;
  width: 15%;
  border-radius: 70px;
 
  text-align: center;

}
